@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700";

body {
	font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	font-size: 155%;
}

::selection {
	background: rgba(0, 0, 0, 0.1);
}

#masthead {
	margin: 20px 0;
}

img {
	max-width: 100%;
}

.logo {
	font-size: 150%;
	color: #262626;
	letter-spacing: -0.2px;
	text-transform: lowercase;
}
.logo:hover {
	text-decoration: none;
}
.logo img {
	height: 25px;
	margin-right: 5px;
	vertical-align: middle;
}
.logo span {
	margin-left: -4px;
}
.logo-nav {
	margin-top: 15px;
}

.nav {
	text-align: right;
	margin-top: 15px;
}
.nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.nav ul > li {
	display: inline-block;
}
.nav .active a {
	border-bottom: 2px solid;
}
.nav > ul > li {
	margin-left: 25px;
}
.nav > ul > li:first-child {
	margin-left: 0;
}
.nav a {
	color: inherit;
}
.nav a:hover {
	text-decoration: none;
	border-bottom: 2px solid #bbb;
}

.shravan-hero img {
	width: 90%;
}
.hero-text {
	margin: 5vw 0 0 5vw;
}
.hero-text h1 {
	font-weight: 300;
	font-size: 350%;
}
.hero-text p {
	font-size: 115%;
	margin-top: 30px;
}
.hero-text .actions {
	margin-top: 35px;
}
.hero-features i {
	font-size: 300%;
	color: #aaa;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 20px;
}

.button {
	font-weight: bold;
	background: whitesmoke;
	padding: 7px 15px;
	display: inline-block;
	border-radius: 4px;
}
.button:hover {
	text-decoration: none;
}
.button.button-primary {
	background: #2790f3;
	color: #fff;
	padding: 9px 18px;
	font-size: 1.2em;
	font-weight: 500;
}
.button.button-primary:hover {
	background: #59aaf6;
}
.button.button-secondary {
	background: transparent;
	color: #2790f3;
}
.button i {
	margin-left: 10px;
}

section {
	padding: 50px 0;
}
section.gray {
	background: whitesmoke;
}

h2 {
	margin-bottom: 20px;
}

.agastya-demo {
	background: #fff;
	margin: 0 auto;
	padding: 30px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
	border: 1px solid #ccc;
	width: 80%;
	border-radius: 40px;
	height: 300px;
}

.bottom-content {
	text-align: center;
}
.bottom-content a {
	display: block;
	color: inherit;
}
.bottom-content a:hover {
	text-decoration: none;
}
.bottom-content > div {
	padding: 0 30px;
}
.bottom-content .actions {
	margin-top: 10px;
	font-weight: bold;
	color: #2790f3;
}
.bottom-content i {
	margin-left: 10px;
}
.bottom-content h2 {
	font-size: 150%;
	margin-top: 0;
}
.bottom-content a:hover .actions {
	text-decoration: underline;
}

p:last-child {
	margin-bottom: 0;
}

#colophon {
	padding: 50px 0;
	background: #e9e9e9;
}
#colophon h3 {
	font-size: 105%;
	font-weight: bold;
	margin-top: 0;
}
#colophon ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 2;
}
#colophon a {
	color: inherit;
}
#colophon li a {
	display: block;
}
#colophon p {
	font-size: 90%;
	color: #999;
}

.footer-content {
	margin-top: 20px;
}

.press {
	margin-top: -50px;
	text-align: center;
}
.press .row:not(:last-child) {
	margin-bottom: 30px;
}
.press img {
	max-width: 90%;
}

.content-container {
	margin-bottom: 100px;
}

.page-title {
	text-align: center;
	margin: 50px 0;
}
.loader {
	padding: 100px 0;
	text-align: center;
	font-size: 200%;
}

@media (max-width: 700px) {
	header#masthead {
		margin: 0;
		padding: 15px 2px;
		border-bottom: 1px solid #ddd;
		background: whitesmoke;
	}
	.logo-nav {
		margin-top: 5px;
		text-align: center;
	}
	nav, .nav {
		text-align: center;
		padding: 0;
		line-height: 2.0;
	}
	section.hero {
		font-size: 0.9em;
		padding-top: 20px;
	}
	section.hero h1 {
		font-size: 3.33em;
	}
	.shravan-hero img {
		margin: 40px auto;
		display: flex;
	}
	.press {
		border-top: 1px solid #ddd;
	}
	.press img {
		max-width: 80%;
		padding: 10px;
	}
	.press .row:not(:last-child) {
		margin-bottom: 0;
	}
	.bottom-content a.col-md-4 {
		padding: 7.5px;
		width: 80%;
		margin: 20px auto;
	}
	footer#colophon .row {
		width: 90%;
		margin: 0 auto;
	}
	footer#colophon .row div.col-md-4 {
		padding-bottom: 15px;
		text-align: center;
	}
	footer#colophon .row div.col-md-4 p {
		width: 80%;
		margin: 10px auto;
/*		text-align: left;
*/	}
	footer#colophon .row div:not(.col-md-4) {
		width: 49%;
		display: inline-block;
		float: right;
	}
	footer#colophon .row div:not(.col-md-4) h3 {
		margin-top: 15px;
	}
}